<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安规试题</title>
</head>
<body>
<div id="question">
<link rel="stylesheet" type="text/css" href="../static/table.css">
<table class="hovertable" align="center">
    <tr>
        <td><font size="5">{{ question_type }}</font></td><td><font size="5">{{ question_stem }}</font></td>
    </tr>
</table>
</div>
<div>
<form action="" method="get" target="/" align = center><font size="5">
    请选择</font><br />
<label><input name="answer" type="radio" value="A" />正确 </label>
<label><input name="answer" type="radio" value="B" />错误 </label>
<input type="hidden" name="questionID" value={{ question_id }} />
<br />
<input type="submit" value="提交" formmethod="post">
</form>
</div>
</body>
</html>