<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安规试题</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="../static/table.css">
<div id="question">
<table class="hovertable" align="center">
    <tr>
        <td><font size="5">{{ question_type }}</font></td><td><font size="5">{{ question_stem }}</font></td>
    </tr>
    <tr>
        <td><font size="5">A</font></td><td><font size="5">{{ answer_a }}</font></td>
    </tr>
    <tr>
        <td><font size="5">B</font></td><td><font size="5">{{ answer_b }}</font></td>
    </tr>
    <tr>
        <td><font size="5">C</font></td><td><font size="5">{{ answer_c }}</font></td>
    </tr>
    <tr>
        <td><font size="5">D</font></td><td><font size="5">{{ answer_d }}</font></td>
    </tr>
</table>
</div>
<div id="answer">
<form action="" method="get" align="center">
    <font size="4">请选择：</font>
    <br>
<label><input name="answer" type="checkbox" value="A" />A </label>
<label><input name="answer" type="checkbox" value="B" />B </label>
<label><input name="answer" type="checkbox" value="C" />C </label>
<label><input name="answer" type="checkbox" value="D" />D </label>
<input type="hidden" name="questionID" value={{ question_id }} />
<br />
<input type="submit" value="提交" formmethod="post">
</form>
</div>
</body>
</html>